<%= form_for @user, :html => { :class => 'new_user_form'} do |f|  %>
	<% if @user.errors.any? %>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<div class="label_text">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>

	<div class="label_text">
		<%= f.label :nickname %><br />
		<%= f.text_field :nickname %>
	</div>

	<div class="label_text">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>

	<div class="label_text">
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %>
	</div>

	<div>
		<%= f.submit %>
	</div>
<% end %>


