	<h3>Laufstatistik</h3>

	<div class="block_1">
		<p>Gesamtdistanz: <%= number_with_precision(@summe_distance_all) %> km</p>
		<p>Distanz im Jahr 2011: <%= number_with_precision(@summe_distance_2011) %> km</p>
		<p>Distanz im Jahr  2012: <%= number_with_precision(@summe_distance_2012) %> km</p>
	</div>

	<div class="block_1">
		<p>Oder wähle einen Zeitraum</p>
		<%= form_tag output_path do %>
			<div class="field">
				<%= label_tag(:startdatum, "Start") %>
				<%= text_field_tag :startdatum, nil, :size => 10, :maxlength => 10 %>
			</div>	

			<div class="field">
				<%= label_tag(:enddatum, "Ende") %>
				<%= text_field_tag :enddatum, nil, :size => 10, :maxlength => 10 %>
			</div>	

			<div class="actions">
				<%= submit_tag("Zeige Kilometerleistung") %>
			</div>	

		<% end %>
	</div>
