<%= debug params %>
<p>
  <b>Distanz:</b>
  <%= number_with_precision @run.distance %>
</p>

<p>
  <b>Schuh:</b>
  <%= @run.shoe.brand %>
</p>

<%= link_to 'Bearbeiten', edit_run_path(@run) %> |
<%= link_to 'Liste', runs_path %>
