<% provide(:title, 'Schuhverwaltung') %>
<%= render partial: 'shared/navigation', locals: {nav_runs: '', nav_shoes: 'active', nav_statistic: '', nav_about: '', nav_contact: ''} %>
	<h3>Schuhverwaltung</h3>
	<table class="bordertable narrow">
		<thead>
			<tr>
				<th>Hersteller</th>
				<th>Beschreibung</th>
				<th class="nowrap">gelaufene Distanz</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @shoes.each do |shoe| %>
				<tr>
					<td class="nowrap"><%= shoe.brand %></td>
					<td class="nowrap"><%= shoe.description %></td>
					<td class="nowrap"><%= number_with_precision(shoe.runs.sum(:distance)) %> km</td>
					<td class="nowrap"><%= link_to 'Bearbeiten', edit_shoe_path(shoe),:class => "normal" %></td>
					<td class="nowrap"><%= link_to 'Ausblenden', hide_shoe_path(shoe), method: :put, :class => "normal" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<p><%= link_to 'Neuen Schuh eingeben', new_shoe_path, :class => "speziell" %> | <%= link_to 'Ausgeblendete Schuhe zeigen', unhide_shoes_path, :class => "speziell", method: :put %> (<%= @hide_shoes %>)</p>
