<!DOCTYPE html>
<html>
<head>
  <title>Laufverwaltung</title>
	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/overcast/jquery-ui.css", "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<!-- mobile viewport optimisation -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- stylesheets -->
  <%= stylesheet_link_tag "css/central.css" %>
	<!--[if lte IE 7]>
	<%= stylesheet_link_tag "yaml/core/iehacks.min.css" %>
	<![endif]-->
	<!--[if lt IE 9]>
	 <%= stylesheet_link_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
	<![endif]-->
</head>

<body>
<header>
	<div class="ym-grid">
		<div class="ym-g960-12 ym-gl">
			<div class="ym-gbox">
				<h5>Laufverwaltung</h5>
			</div>
		</div>
	</div>
</header>

<div class="ym-grid">
	<div class="ym-g960-2 ym-gl">
    <div class="ym-gbox">
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
	</div>
	<div class="ym-g960-10 ym-gl">
    <div class="ym-gbox">
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
	</div>
</div>


<footer>
	<div class="ym-grid">
		<div class="ym-g960-12 ym-gl">
			<div class="ym-gbox">
				<% if user_signed_in? %>
					<%= link_to 'Abmelden', logout_path, method: :delete %>
				<% else %>
					<%= link_to 'Anmelden', login_path %>
				<% end %>
					<p>© Company 2011 &ndash; Layout based on <a href="http://www.yaml.de">YAML</a></p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
