<% provide(:title, 'Neuen Nutzer anmelden') %>
<!DOCTYPE html>
<html>
<head>
  <title>Laufverwaltung | <%= yield(:title) %></title>
	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/overcast/jquery-ui.css", "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<!-- mobile viewport optimisation -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- stylesheets -->
  <%= stylesheet_link_tag "css/central.css" %>
	<!--[if lte IE 7]>
	<%= stylesheet_link_tag "yaml/core/iehacks.min.css" %>
	<![endif]-->
	<!--[if lt IE 9]>
	 <%= stylesheet_link_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
	<![endif]-->
</head>

<body>
			<%= image_tag("logo_2.png", :alt => "Logo", :class => "logo") %>
			<%= image_tag("background.jpg", :alt => "Hintergrund", :class => "bg") %>
			<%= yield %>
</body>
</html>
